@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Montserrat');

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	width: 100%;
	background-color: #FFF7E2;
}

header {
	color: #FFF7E2;
	background-color: #2B2855;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	font-weight: 600;
	padding: 60px 0px 20px 0px;
	border-radius: 0px 0px 40px 40px;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.column-wrapper {
	height: 600px;
	width: 100%;
}

/* Create three equal columns that floats next to each other */
.column {
	display: inline-block;
	padding: 300px 0px 0px 0px;
	align: center;
    float: left;
    width: 33.33%;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

footer {
	border-radius: 40px 40px 0px 0px;
	height: 40px;
	letter-spacing: 5px;
	padding: 20px 0px 0px 0px;
	color: #FFF7E2;
	background-color: #0DF1B9;
	text-align: center;
	font-family: 'Cormorant+Garamond', serif;
	align: bottom;
	position:absolute;
	bottom:0;
	width:100%;
}