// Typography

$sans-serif: 'Montserrat', sans-serif;
$quark-font: 'Montserrat', sans-serif;
$serif: 'Source Serif Pro', serif;
$mono: 'Source Code Pro', Courier, mono;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colo(u)r

$txt-primary: #121125;
$body-bg: #FFF7E2;

// Headers
$header-heading-color: #FFF7E2 !default;
$header-bg-color: #2B2855 !default;
$header-bg-color-secondary: #121125 !default;
