// Typography

$sans-serif: 'Lato', sans-serif;
$serif: 'Bitter', serif;
$mono: 'Source Code Pro', Courier, mono;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$base: 14px;

// Colo(u)r

$txt-primary: #121125;
$txt-light: #FFF7E2;
$body-bg: #FFF7E2;

// Headers
$header-heading-color: #FFF7E2 !default;
$header-bg-color: #25234B !default;
$header-bg-color-secondary: #121125 !default;
